*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height:100vh;
    background:linear-gradient(to right,#ff6e7f,#bfe9ff) ;
    display: flex;
    justify-content: center;
    font-family: 'Finlandica', sans-serif;
    /* align-items: center; */
}


.news-container{
    margin-top: 2rem;
    background-color: #fff;
    width:800px;
    padding:2rem;
    border-radius: 10px;
}
.news-details{
    color:rgb(165, 160, 160);
    margin-top: 1rem;
}
.author{
    text-transform: capitalize;
    font-weight: bold;
    color:rgb(117, 115, 115)
}
.btns{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  
}
.btn:hover{
cursor: pointer;
}
.btn{
    border:transparent;
    outline: none;
    background-color: #fff;
    font-weight: bold;
}
.readmore{
    color:#7eafc9;
}
.remove{
    color:#ff6e7f;
}
.search-container{
    /* width:500px; */
    text-align: center;
    margin-top: 2rem;

}
.search-container input{
    margin-top: 4rem;

}
input{
    padding:.6rem;
    width:20rem;
    height:3rem;
    outline: none;
    border:none;
    border-bottom: 5px solid #447189 ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.pagination-container{
   display: flex;
   justify-content: center;
   margin: 1rem;
}
.pagination-container p{
    color:#6f6f6f;
    font-weight: bold;
    padding:.4rem 1.4rem;

}
.prev{
    margin-right: 1rem;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 40px;
    border-bottom:5px solid  #1a4f82;
    
}
.next{
    margin-left:1rem ;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 40px;
    border-top:5px solid  #1a4f82;

}


.pagination-container .btn{
    padding:.4rem 1.4rem;
    background-color:#bd619c;
   
}
.pagination-container .btn:hover{
    transform: scale(1.07);
    box-shadow: 1px 2px #1a4f82;
    background-color: #bd619b8a;
}
@media (max-width:906px){
    html{
        font-size: 66%;
    }
    .news-container{
        width:500px;
    }
    .news-container{
        padding:1rem
    }
}
@media (max-width:600px){
    html{
        font-size: 52%;
    }
    .news-container{
        width:400px;
    }
    .news-container{
        padding:.5rem
    }
}
